---
layout: default
title: Para Los Viernes
path: home
---

<div class="container mx-auto lg:h-screen flex flex-col justify-center items-center mt-4 mb-4">
  <h1>
    Bienvenidos a
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      {{title}}
    </strong>
  </h1>

  <p>
   Y el cuerpo lo sabe...
  </p>

  <br>
  <br>
  <br>
  <br>

  {% include "./_includes/partials/content.html" %}
  <br>

  {% include "./_includes/partials/plvwhy.html" %}
</div>