<div class="grid grid-cols-2 grid-rows-2 gap-4 w-full">
    <div>
        <img src="../../static/img/pexels-los-muertos-crew-8279913-1-.jpg" alt="Image 1" class="w-200 h-200 object-cover rounded-lg md:w-100 md:h-100">
    </div>
    <div>
        <img src="../../static/img/puerto-plata.jpg" alt="Image 2" class="w-200 h-200 object-cover rounded-lg md:w-100 md:h-100">
    </div>
    <div>
        <img src="../../static/img/tacos.jpg" alt="Image 3" class="w-200 h-200 object-cover rounded-lg md:w-100 md:h-100">
    </div>
    <div>
        <img src="../../static/img/mayan-temple.jpg" alt="Image 4" class="w-200 h-200 object-cover rounded-lg md:w-100 md:h-100">
    </div>
</div>

<br>
<br>
<br>


<div>

    <h2>Why listen to Para Los Viernes?</h2>

    For Spanish and English Speakers alike this podcast is for us to partake in all aspects of LatinAmerican culture. 
</div>



<style>

    @media only screen and (max-width: 600px) {
        .grid {
           grid-template-columns: 1fr;
        }
       }
       
</style>
