<div class="">
    <div class="relative aspect-w-3 aspect-h-2">
      <img src="../../static/img/pexels-los-muertos-crew-8279913-1-.jpg" alt="Image 1" class="object-cover w-1/2 h-1/2 rounded-lg">
    </div>
    <div class="relative aspect-w-3 aspect-h-2">
      <img src="../../static/img/pexels-los-muertos-crew-8279913-1-.jpg" alt="Image 2" class="object-cover w-1/2 h-1/2 rounded-lg">
    </div>
    <div class="relative aspect-w-3 aspect-h-2">
      <img src="../../static/img/pexels-los-muertos-crew-8279913-1-.jpg" alt="Image 3" class="object-cover w-1/2 h-1/2 rounded-lg">
    </div>
    <div class="relative aspect-w-3 aspect-h-2">
      <img src="../../static/img/pexels-los-muertos-crew-8279913-1-.jpg" alt="Image 4" class="object-cover w-1/2 h-1/2 rounded-lg">
    </div>
</div>
