<footer class="bottom-0 text-center w-full py-4">
    <div class="w-full h-[20px] bg-blue-500"></div>

    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        2024. Made by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>
        |
        <a href="https://podcasters.spotify.com/pod/show/paralosviernes" class="underline" target="_blank">Listen On Spotify</a>
    </small>

    <div class="flex justify-center mt-4">
        <a href="https://simplyspanish.substack.com?utm_source=navbar&utm_medium=web&r=2vwu4s" class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Sign up for the Simply Spanish newsletter
        </a>
    </div>

    <div class="flex justify-center mt-4">
       <strong> Contact:</strong> simplyspanish@pgmja.com
    </div>
</footer>
<style>
    .flex strong{
        margin: 5px;
    }
</style>