   <div class="mt-4 mb-4">

        <h3>Why listen to Para Los Viernes?</h3>

        <p> For Spanish and English Speakers alike this podcast is for us to celebrate and learn and partake in all aspects of Spanish and Latin-American culture. This podcast is also a great way to improve your Spanish skills as you listen and understand Spanish culture.</p>
        <p>Also in my experience I was amazed at all the interesting Spanish media and things agbout Spanish culture that I could learn. Without anyone to help me I asked and researched so you dont have to. All the interesting things about Spanish culture and media will be 
            presented to you in these episodes with links to resources in the episode notes.
        </p>
    
    </div>
    
