   <div class="mt-4 mb-4">

    <h3>¿Por que deberías escuchar a "Para los Viernes?</h3>
    <p></p>

        <h3>Why listen to Para Los Viernes?</h3>
        <p>Tanto para los hispanohablantes como para los angloparlantes, este podcast es para celebrar, aprender y participar en todos los aspectos de la cultura española y latinoamericana. Este podcast también es una excelente manera de mejorar tus habilidades en español mientras escuchas y comprendes la cultura española.</p>
        <p>También en mi experiencia me sorprendieron todos los interesantes medios españoles y las cosas sobre la cultura española que pude aprender. Sin que nadie me ayudara, pregunté e investigué para que tú no tengas que hacerlo. Todas las cosas interesantes sobre la cultura y los medios españoles estarán
            presentado en estos episodios con enlaces a recursos en las notas del episodio.</p>

            
        <p> For Spanish and English Speakers alike this podcast is for us to celebrate and learn and partake in all aspects of Spanish and Latin-American culture. This podcast is also a great way to improve your Spanish skills as you listen and understand Spanish culture.</p>
        <p>Also in my experience I was amazed at all the interesting Spanish media and things agbout Spanish culture that I could learn. Without anyone to help me I asked and researched so you dont have to. All the interesting things about Spanish culture and media will be 
            presented to you in these episodes with links to resources in the episode notes.
        </p>
    
    </div>
    
